<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>About EJS</title>
</head>

<body>
    <%- include('../partials/header') %>
        <h1>About Page</h1>
</body>

</html>