<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Params</title>
</head>

<body>
    <p>My dogg's name is <%=myDog %> an <%=myCat%></p>
    <p>I drive a <%= myCar%></p>

</body>

</html>