<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Page</title>
</head>

<body>
    <h1>URL Page</h1>
    <ul>
        <% myData.forEach(element => { %>
            <li>
                <%= element.name %>
            </li>
            <% }) %>
    </ul>
</body>

</html>